python-dotenv

langchain
langchain-community
langchain-core

from_root

langchain-text-splitters
langchain-google-genai
langchain-mongodb
faiss-cpu
fastapi
jinja2
ipykernel
uvicorn
docx2txt
python-multipart
langsmith
pymongo
